.hero{
    background-image: url(./images/desk-header\ 1.png);

    width: 1440px;
    height: 700px;
}

.h1-1{


font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 63px;
text-align: center;
text-transform: uppercase;


color: #fff4f4;
}

.h2-1{
   


font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #FFFFFF;

}

.h3-1{
   


font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;

color: #ffffff;
}

.h3-2{
  


font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

color: #fff;
}

.h3-3{
 

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.B-3{



font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */

display: flex;
align-items: flex-end;
text-align: center;

color: #FFFFFF;

}

.vilian{
 background-image: url(./images/Color_Fill1.png);  


background: #000000;
}


.h1-2{
    
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    
    text-align: center;
    
    color: #333333;
    
}

.p1-agent1{

    width: 120px;
    height: 120px;

}

.h2-2-agent1{
   

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

color: #333333;

}

.h3-4-agent1{

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #666666;

}

.p2-agent1{
width: 19px;
height: 20px;




}

.p3-agent1{
    width: 35px;
    height: 35px;
    
}

.p4-agent2{
width: 120px;
height: 120px;


background: url(desk-2.png);
}

.p4a-agent2{
    width: 19px;
    height: 19px;
}

.h2-3-agent2{


font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

color: #333333;

}

.h3-5-agent2{

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;

text-align: center;

color: #666666;
}

.p5-agent2{
width: 35px;
height: 35px;

}

.p6-agent3{
width: 120px;
height: 120px;


background: url(desk-3.png);
}
.h2-4-agent3{
width: 125.02px;
height: 17px;


font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14.0112px;
line-height: 17px;
/* identical to box height */


text-align: center;

color: #333333;

}

.h3-6-agent3{
width: 247.02px;
height: 65px;


font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14.0112px;
line-height: 16px;
text-align: center;

color: #666666;
}

.p7-agent3{
width: 15px;
height: 18px;

}

.p8-agent3{
width: 35px;
height: 35px;

}

.p9-agent4{
width: 120px;
height: 120px;

}

.h2-5-agent4{
width: 136.02px;
height: 17px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14.0112px;
line-height: 17px;
/* identical to box height */

text-align: center;

color: #333333;

}

.h3-7-agent4{
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14.0112px;
line-height: 16px;
text-align: center;

color: #666666;

}
.p10-agent4{
width: 35px;
height: 35px;

}

.p11-agent4{
width: 19px;
height: 18px;

}

.agents{
    display: flex;
}