.hero{
    background-image: url(./images/desk-header\ 1.png);

    width: 1440px;
    height: 700px;
}

.h1-1{


font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 63px;
text-align: center;
text-transform: uppercase;


color: #fff4f4;
}

.h2-1{
   


font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #FFFFFF;

}

.h3-1{
   


font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;

color: #ffffff;
}

.h3-2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #FFFFFF;
    background: rgba(26, 25, 21, 0.0001);
    border: 2px solid #FFFFFF;
    height: 39px;
    width: 93px;
    border-radius: 30px;
    justify-content: center;


}

.h3-3{
 

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.B-3{



font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */

display: flex;
align-items: flex-end;
text-align: center;

color: #FFFFFF;

}

.vilian{
 background-image: url(./images/Color_Fill1.png);  
 height: 700px;
width: 1440px;




background: #ffffff;
}


.h1-2{
    
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    margin-left: 504px;
    margin-right: 505px;
    margin-top: 65px;
    
    text-align: center;
    
    color: #333333;
    
}




.partners-name{
   
    margin-top: 16px;
    margin-bottom: 13px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14.0112px;
line-height: 17px;
color: #333333;
}



.partners-text{
    font-family: 'Roboto';
    font-weight: 300;
font-size: 14.0112px;
line-height: 16px;
color: #666666;

}


.agents{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.agents li{
text-align: center;


}

.B-3{
    display: block;
width: 228px;
height: 43px;
margin-left: auto;
margin-right: auto;

background: #FF4E50;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
border: none;
border-radius: 30px;
text-align: center;

color: #FFFFFF;

}